/*
Project Name: Wedding website
Author: Katie Dowden
Developer
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
	/*background: black;*/
	background: white;
	height: 100%;
	width: 100%;
}

nav	{
	height: 200px;
	background-image: url(../images/black_border_3.gif);
	background-repeat: repeat-x;
	background-size: 33.333% 100%;
	margin-bottom: 2.5%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li{
	width:16.667%;
	font-family: 'Pacifico', cursive;
	padding-left: 5%;
	padding-top: 1%;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li a img {
	height:40%;
}

.heading	{
	padding-top: 200px;
}

h1	{
	font-family: 'Cookie', cursive;
	font-size: 600%;
	text-align: center;
}

.header {
	padding: 0;
	border: none;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	color: #333;
	text-align: center;
}

h2	{
	display: inline;
	font-family: 'Cookie', cursive;
	font-size: 250%;
	padding: 2.5%;
}

.important_info	{
	text-align: center;
}

.photos	{
	background-image: url(../images/grey_board_2.jpg);
	background-repeat: repeat;
	background-size: 33% 33%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-bottom: 5%;
}

.red_pin {
	display: block;
	background: #DC143C;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin: 0;
	background: radial-gradient(circle at 10px 10px, #DC143C, #000);
	margin-left: 40%;
	margin-right: 60%;
}

.green_pin {
	display: block;
	background: #8FBC8F;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin: 0;
	background: radial-gradient(circle at 10px 10px, #8FBC8F, #000);
	margin-left: 40%;
	margin-right: 60%;
}

.blue_pin {
	display: block;
	background: #B0C4DE;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin: 0;
	background: radial-gradient(circle at 10px 10px, #B0C4DE, #000);
	margin-left: 40%;
	margin-right: 60%;
}

.polaroid	{
	text-align: center;
	position: relative;
	width: 15%;
	height: 100%;
	background-color: white;
	padding-top: 1%;
	display: inline-block;
	margin-left: 1%;
	padding-bottom: 1%;
}

.picture img	{
	width: 90%;
	height: 175px;
	margin-top: 8%;
}

.tilt_1	{
	-webkit-transform:rotate(-6deg);
	-o-transform:rotate(-6deg);
	-moz-transform:rotate(-6deg);
	margin-top: 2%;
}

.tilt_2	{
	-webkit-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	-moz-transform:rotate(2deg);
	margin-top: 4%;
}

.tilt_3	{
	-webkit-transform:rotate(8deg);
	-o-transform:rotate(8deg);
	-moz-transform:rotate(8deg);
	margin-top: 1%;
}

.ensemble	{
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-bottom: 3%;
}

/*.tube	{
	float: left;
	width: 50%;
}*/

.tube	{
	margin-top: 2%;
	position: relative;
	width: 33.1%;
	display: inline-block;
	height: 680px;
	overflow: hidden;
}

.title	{
	padding: 2%;
	width: 25%;
	text-align: center;
	margin-left: 30%;
	margin-bottom: 4%;
}

.title_2	{
	padding: 2%;
	width: 30%;
	text-align: center;
	margin-left: 30%;
	margin-bottom: 4%;
	color: white;
}

.robson	{
	background-color: silver;
	font-family: 'Cookie', cursive;
	font-size: 200%;
}

.maidens	{
	position: relative;
}

.circle	{
	position: absolute;
	top: 15%;
	left: 50%;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin: 0;
}

.circle_2	{
	position: absolute;
	margin-top: 15%;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin: 0;
	left: 21%;
}

.name {
	top: 72.5%;
	left: 10%;
	position: absolute;
	font-family: 'Cookie', cursive;
	font-size: 150%;
}

.name_2 {
	top: 72.5%;
	left: 55%;
	position: absolute;
	font-family: 'Cookie', cursive;
	font-size: 150%;
}

.connection	{
	position: relative;
}

.line {
	height: 60px;
	width: 5px;
	margin-left: 45%;
}

.line_3 {
	height: 100px;
	width: 5px;
	margin-left: 45%;
}

.line_2 {
	height: 5px;
	width: 30px;
	margin-left: 45%;
}

.line_4 {
	height: 5px;
	width: 30px;
	margin-left: 40%;
}

.dowden 	{
	background-color: black;
	font-family: 'Cookie', cursive;
	font-size: 200%;
}

.tube_symbol	{
	height: 100px;
	margin-top: 10%;
	margin-right: 2%;
}

h4	{
	margin-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	font-family: 'Oswald', sans-serif;
	font-size: 250%;
}

.whiteboard p {
	margin-top: 5%;
	font-family: 'Bad Script', cursive;
	font-size: 175%;
	padding-top: 10%;
	line-height: 130%;
}

.hidden	{
	display: none;
}

#lineup	{
	display: block;
	height:200px;
	visibility: hidden;
	margin-top: -200px;
}

#rsvp	{
	display: block;
	height:200px;
	visibility: hidden;
	margin-top: -200px;
}

#location	{
	display: block;
	height:200px;
	visibility: hidden;
	margin-top: -200px;
}

#accomodation	{
	display: block;
	height:200px;
	visibility: hidden;
	margin-top: -200px;
}

#gifts	{
	display: block;
	height:200px;
	visibility: hidden;
	margin-top: -200px;
}

h5	{
	display: inline;
	font-family: 'Cookie', cursive;
	font-size: 300%;
	padding: 2%;
	margin-top: 5%;
}

.generaltext {
	font-size: 150%;
	line-height: 120%;
	padding-left: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.cartext	{
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	font-size: 150%;
}

.adress 	{
	text-align: center;
	font-size: 175%;
	padding-top: 2%;
}
.car {
	height:40px;
}

.bus {
	height:30px;
	padding-left: 5%;
}

.train {
	height:30px;
	padding-left: 5%;
}

.taxi {
	height:30px;
	padding-left: 5%;
}

.boat {
	height:30px;
	padding-left: 5%;
}

.transport {
	padding-top: 2.5%;
}

.bold {
	font-weight: bold;
}

#map {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	width: 100%;
	height: 400px;
}

.hotel {
	height:30px;
	padding-left: 5%;
}

.accomodation ul 	{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.accomodation a 	{
	color: gray;
}

.rsvp p {
	text-align: center;
}

.rsvp span 	{
	font-weight: bold;
}

.under_construction	{
	width: 20%;
	margin-left: 45%;
	margin-top: 2%;
	margin-bottom: 2%;
}

footer	{
	height: 150px;
	background-image: url(../images/footer.png);
	background-repeat: repeat-x;
	background-size: 33.33% 100%;
	width: 100%;
}

/*form	{
	width: 100%;
	align-content: center;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 5%;
	height: 100%;
	overflow: hidden;
}

.rsvp	{
	padding-left: 40%;
	width: 100%;
}

form h3	{
	background-color: black;
	color: white;
	width: 40%;
}


border img	{
	height: 100%;
	width: 100%;

}*/
