/*
Project Name: Wedding website
Author: Katie Dowden
Developer
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	overflow: scroll;
	position: relative;
}
body.no_scroll {
	overflow: hidden;
}

nav	{
	height: 200px;
	background-image: url(../images/black_border_3.gif);
	background-repeat: repeat-x;
	background-size: contain;
	margin-bottom: 2.5%;
	position: fixed;
	top: 0;
	width: calc(100% - 17px);
	z-index: 99;
}

nav ul {
	display: flex;
	list-style: none;
	text-align: center;
}

nav ul li{
	width:16.667%;
	font-family: 'Pacifico', cursive;
	padding-top: 5px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li a img {
	height:15px;
}

@media screen and (max-width: 1440px) {
	nav {
		width:100%;
	}
}

@media screen and (max-width: 670px) {
	nav {
		width:100%;
	}
	nav ul li a img {
		display:none;
	}
}

@media screen and (max-width: 400px) {
	nav {
		width:100%;
	}
	nav ul li:first-of-type {
		display:none;
	}
	nav ul li {
		width: 20%;
	}
}

@media screen and (max-width: 372px) {
	nav {
		width:100%;
	}
	nav ul li:last-of-type{
		display:none;
	}
	nav ul li {
		width: 25%;
		font-size: 10px;
	}


}



.heading	{
	padding-top: 200px;
}

h1	{
	font-family: 'Cookie', cursive;
	font-size: 600%;
	text-align: center;
}

.header {
	padding: 0;
	border: none;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	color: #333;
	text-align: center;
}

h2	{
	display: inline;
	font-family: 'Cookie', cursive;
	font-size: 250%;
	padding: 2.5%;
}

.important_info	{
	text-align: center;
}

.photos	{
	background-image: url(../images/grey_board_2.jpg);
	background-repeat: repeat;
	background-size: 33% 33%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-bottom: 25px;
	padding-top: 25px;
	text-align: center;
}

.photos > div {
	display: inline-block;
	max-width: 1500px;
	margin: 0 auto;
}

.pin {
	display: block;
	background: #DC143C;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin: 0 auto;
}

.red_pin {
	background: #DC143C;
	background: radial-gradient(circle at 10px 10px, #DC143C, #000);
}

.green_pin {
	background: #8FBC8F;
	background: radial-gradient(circle at 10px 10px, #8FBC8F, #000);
}

.blue_pin {
	background: #B0C4DE;
	background: radial-gradient(circle at 10px 10px, #B0C4DE, #000);
}

.polaroid	{
	text-align: center;
	position: relative;
	background-color: white;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 20px;
	padding-top: 5px;
	padding-right:20px;
	padding-bottom: 20px;
	padding-left: 20px;

	-webkit-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
}
.picture {
	position: relative;
}

.picture > .image	{
	width: 145px;
	height: 145px;
	margin-top: 8%;
	background-size: cover;
}

.tilt_1	{
	-webkit-transform:rotate(-6deg);
	-o-transform:rotate(-6deg);
	-moz-transform:rotate(-6deg);
}

.tilt_2	{
	-webkit-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	-moz-transform:rotate(2deg);
}

.tilt_3	{
	-webkit-transform:rotate(8deg);
	-o-transform:rotate(8deg);
	-moz-transform:rotate(8deg);
}

.ensemble	{
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-bottom: 3%;
}


/*.tube	{
	float: left;
	width: 50%;
}*/

.tube	{
	margin-top: 10px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding-bottom: 70px;
	vertical-align: top;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.tube.details {
	display: none;
	width: calc(100% - 917px);
	height: 905px;
}

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 820px) {
	.tube {
		width: auto;
	}
}
@media screen and (min-width: 1200px) {
	.tube {
		width: 450px;
		text-align: left;
	}
	.tube.details {
		display: inline-block;
	}
}

.title	{
	display: inline-block;
	padding: 6px;
	text-align: center;
	margin-bottom: 10px;
	font-size: 40pt;
	font-family: 'Cookie', cursive;
}
.dowden .title {
	color: white;
}
@media screen and (min-width: 1200px) {
	.title {
		width: 25%;
	}
	.robson .title {
		width: 200px;
		margin-left: 106px;
	}

	.dowden .title {
		width: 240px;
		margin-left: 84px;
	}
}

.robson	{
}

.maidens	{
	display: inline-block;
	position: relative;
	height: 200px;
	width: 100%;
	z-index: 2;
}

@media screen and (min-width: 200px) {
	.maidens {
		width: 200px;
	}
}

@media screen and (min-width: 400px) {
	.maidens {
		width: 45%;
	}
}

@media screen and (min-width: 820px) {
	.maidens {
		width: 400px;
		height: 120px;
	}
}

@media screen and (min-width: 1200px) {
	.maidens {
		display: block;
		height: 120px;
		width: 100%;
	}
}

.grey {
	background-color: silver;
}
.black {
	background-color: black;
}

.circle	{
	position: absolute;
	top: 13px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin: 0;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
	left: calc(50% - 50px);
}
.circle.grey.active {
	border: 5px solid silver;
}
.circle.black.active {
	border: 5px solid black;
}
@media screen and (min-width: 820px) {
	.maidens .circle {
		left: auto;
		right: 40px;
	}
}
@media screen and (min-width: 1200px) {
	.maidens .circle {
		right: auto;
	}
	.robson .circle {
		left: 233px;
	}
	.dowden .circle	{
		left: 83px;
	}
}

.maidens .name {
	top: calc(50% - 10px);
	position: absolute;
	font-family: 'Cookie', cursive;
	font-size: 20pt;
	top: 120px;
	width: 100%;
	text-align: center;
}

@media screen and (min-width: 820px) {
	.maidens .name {
		top: 50px;
		left: 10%;
		width: auto;
		text-align: left;
	}
}

@media screen and (min-width: 1200px) {
	.robson .name {
		left: 20px;
	}
	.dowden .name {
		left: 240px;
	}
}

.connection	{
	display: none;
	position: relative;
	margin-top: -60px;
}

@media screen and (min-width: 1200px) {
	.connection {
		display: block;
	}
}

.line {
	display: none;
	height: 60px;
	width: 5px;
	margin-left: 45%;
}

.line_h {
	display: none;
	height: 5px;
	width: 30px;
}

@media screen and (min-width: 1200px) {
	.line, .line_h {
		display: block;
	}
}
.robson .line_h {
	margin-left: 45%;
}
.dowden .line_h {
	margin-left: 178px;
}

.connection .line {
	height: 100px;
}

.robson .connection .line {
	height: 153px;
}

.the_image, .the_text, .the_name {
	display: none;
}





.tube_symbol	{
	height: 100px;
	vertical-align: middle;
	margin: 0;
}

h4	{
	display: block;
	vertical-align: middle;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	text-align: center;
}

@media screen and (min-width: 1200px) {
	.tube_symbol {
		margin-left: calc(50% - 70px);
	}
}
@media screen and (min-width: 1400px) {
	.tube_symbol {
		/*display: inline-block;*/
		margin: 0;
		margin-right: 10px;
	}
	h4	{
		display: inline-block;
		text-align: left;
	}
}

.whiteboard {
	position: relative;
}

.mobile_whiteboard {
	background-color: #efefef;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}
.mobile_whiteboard_wrapper {
	display: none;
}

@media screen and (min-width: 1200px) {
	.mobile_whiteboard_wrapper {
		display: none;
	}
}

.whiteboard p {
	margin-top: 30px;
	font-family: 'Bad Script', cursive;
	font-size: 	28px;
	line-height: 36px;
}

.hidden	{
	display: none;
}

#lineup	{
	display: block;
	height:200px;
	visibility: hidden;
	margin-top: -200px;
}

#invitation_response	{
visibility: hidden;
position: absolute;

}


.rsvp {
	text-align: left;
}

input[type=text] {
	width: 400px;
	border: none;
	border-bottom: black dashed 2px;
}

/*start of trial code*/

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  border: 3px solid #f1f1f1;
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

/* Add styles to the form container */
.form-container {
  max-width: 600px;
  background-color: white;
  z-index: 9;
  border-radius: 10px;
  padding: 15px;
}

.form-container .form-title {
	float: left;
	font-family: 'Cookie', cursive;
	font-size: 200%;
}
.form-container .close-btn {
	float: right;
	background: transparent;
	border: none;
	font-size: 15pt;
	cursor: pointer;
}

.form-container .rsvp {
	clear: both;
	padding-top: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*end of trial code*/

#rsvp	{
	display: block;
	height:200px;
	visibility: hidden;
	margin-top: -200px;
}

#location	{
	display: block;
	height:200px;
	visibility: hidden;
	margin-top: -200px;
}

#accomodation	{
	display: block;
	height:200px;
	visibility: hidden;
	margin-top: -200px;
}

#gifts	{
	display: block;
	height:200px;
	visibility: hidden;
	margin-top: -200px;
}

h5	{
	display: block;
	font-family: 'Cookie', cursive;
	font-size: 300%;
	padding: 0 10px;
	text-align: center;
}

.generaltext {
	font-size: 150%;
	line-height: 120%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
}

.cartext > div	{
	display: inline-block;
	vertical-align: top;
}

.cartext > div:first-of-type	{
	width: 10%;
	text-align: center;
}

.cartext > div:last-of-type	{
	width: 75%;
	text-align: left;
}

.taxitext > div	{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	margin-top: 10px;
}

.taxitext > div:first-of-type	{
	width: 10%;
	text-align: center;
}

.taxitext > div:last-of-type	{
	width: 75%;
	text-align: left;
}

.traintext > div	{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	margin-top: 10px;
}

.traintext > div:first-of-type	{
	width: 10%;
	text-align: center;
}

.traintext > div:last-of-type	{
	width: 75%;
	text-align: left;
}

.bustext > div	{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	margin-top: 10px;
}

.bustext > div:first-of-type	{
	width: 10%;
	text-align: center;
}

.bustext > div:last-of-type	{
	width: 75%;
	text-align: left;
}

.boattext > div	{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	margin-top: 10px;
}

.boattext > div:first-of-type	{
	width: 10%;
	text-align: center;
}

.boattext > div:last-of-type	{
	width: 75%;
	text-align: left;
}


.adress 	{
	text-align: center;
	font-size: 175%;
	padding-top: 2%;
}

@media screen and (max-width: 600px) {
	.car {
	display: none;
}

.bus {
	display: none;
}

.train {
	display: none;
}

.taxi {
	display: none;
}

.boat {
	display: none;
}

.hotel {
	display: none;
}

.generaltext {
	font-size: 100%;
	line-height: 100%;
}

}

.car {
	width:60px;
	
}



.bus {
	width: 60px;
	padding-left: 10px;
}

.train {
	width:60px;
	padding-left: 10px;
}

.taxi {
	width:60px;
	padding-left: 10px;
}

.boat {
	height:60px;
	padding-left: 10px;
}

.transport {
	padding-top: 2.5%;
}

.bold {
	font-weight: bold;
}

#map {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	width: 100%;
	height: 400px;
}
.hoteltext > div	{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	margin-top: 10px;
}

.hoteltext > div:first-of-type	{
	width: 10%;
	text-align: center;
}

.hoteltext > div:last-of-type	{
	width: 75%;
	text-align: left;
}

.hotel {
	width:60px;
	padding-left: 10px;
}

.accomodation ul 	{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.accomodation a 	{
	color: gray;
}

.accomodation p {
	text-align: center;
}
.accomodation	{
	margin-top: 30px;
}

.gifts p {
	text-align: center;
}

.rsvp {
	margin-top:30px;
}

.rsvp h5 {
	text-align: center;
}


.rsvp span 	{
	font-weight: bold;
}

.under_construction	{
	margin-top: 20px;
	text-align: center;
	margin-bottom:50px;
}

.under_construction img	{
	width: 200px;
}

footer	{
	height: 150px;
	background-image: url(../images/footer.png);
	background-repeat: repeat-x;
	background-size: contain;
	width: 100%;
}

/*form	{
	width: 100%;
	align-content: center;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 5%;
	height: 100%;
	overflow: hidden;
}

.rsvp	{
	padding-left: 40%;
	width: 100%;
}

form h3	{
	background-color: black;
	color: white;
	width: 40%;
}


border img	{
	height: 100%;
	width: 100%;

}*/
